body {
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;

}

#trackSelector {
  background-color: black;
  color: white;
  padding: 20px 5px;
}

.header h1 {
  font-size: 40px;
  back
}
.header h2 {
  font-size: 25px
}

.quiz:hover {
  color: blue;
}
.quiz {
  font-weight: bold;
  text-shadow: px 2px ##0a0489;
  text-decoration: underline;
}

#quiz  {
  margin: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: -2px -3px 5px #e6e6e6
}
