body {
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center center;
}

.jumbotron h1 {
  font-size: 40px;
}
.jumbotron h2 {
  font-size: 25px
}

.quiz:hover {
  text-decoration: underline;
  color: blue
}
