body {
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center center;
}

.jumbotron h1 {
  font-size: 40px;
}
.jumbotron h2 {
  font-size: 25px
}

.quiz:hover {
  text-decoration: underline;
  color: blue;
}
.quiz {
  font-weight: bold;
  text-shadow: px 2px ##0a0489;
}

#quiz  {
  margin: 20px;
  border-radius: 10px;
  background-color: beige;
  box-shadow: -2px -3px 5px #e6e6e6
}
