body {
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;

}

#trackSelector {
  background-color: royalblue;
  color: white;
  padding: 20px 5px;
  height: 300px;
}

.header h1 {
  font-size: 40px;
  vertical-align: middle;
  line-height: 200px;
}

.quiz {
  font-weight: bold;
  text-shadow: px 2px ##0a0489;
  text-decoration: underline;
}
.row h2 {
  font-size: 24px;
  font-weight: bold;
}
.important {
  font-size:20px;
}
.directions {
  font-style: italic;
  color: red;
  text-decoration: underline;
}
button {
  margin-top: 20px;
  margin-bottom: 20px;
}
#quiz  {
  margin: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: -2px -3px 5px #e6e6e6;

}
.question-header {
  font-size: 14px;
  font-weight: bold;
}
.result {
  margin-top: 10%;
  margin-left: 50%;
  height: 500px;
  border: solid;
  border-radius: 10px;
  border-color: rgb(0, 179, 180);
}
.result h1 {
  color: black;
  font-family: italic;
  text-align: center;
  vertical-align: middle;
}

#css-Design h1{
  display:none;
  font-size: 30px;
  text-align: center;
  line-height: 40px;

}
#ruby-Rails {
  display: none;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
}
#c-Net {
  display: none;
  font-size: 30px;
  text-align: center;
  line-height: 40px;
}
